<div class="jumbotron">
  <h1>@Model["band"].GetName()</h1>
</div>

<h2>Select a venue that has hosted @Model["band"].GetName():</h2>
<div class="well">
  @foreach (var venue in @Model["venues"])
  {
    <li><a href='/bands/@Model["band"].GetId()/addVenue/added-@venue.GetId()'>@venue.GetName()</a></li>
  }
</div>
