<div class="jumbotron">
  <h1>Add a venue to our list!</h1>
</div>

<div class="well">
  <form action="/venues/venueForm/new" method="post">
    <label for="name">Enter the venue name:</label>
     <div class="form-group">
      <input type="text" name="name">
     </div>

     <button type="submit" class="btn btn-success">Add!</button>
  </form>
</div>
