<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Band Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
  </head>
  <body>
    <div class="container-fluid">
      @RenderBody()

      <footer>
        <a href="/"><button>Home</button></a>
        <a href="/bands"><button>All Bands</button></a>
        <a href="/venues"><button>All Venues</button></a>
      </footer>
    </div>
  </body>
</html>
